html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #FAF0DC;
  font-family: Arial, Helvetica, san-serif;
}
.main{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
}
.a{
  display: flex;
  justify-content: center;
  flex-direction:column;
  
}
.b{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
}
h1{
  font-family: Arial, Helvetica, san-serif;
}
h2{
  color: #E25825;
  font-family: Arial, Helvetica, san-serif;
}
